README.md text eol=lf
plumage.py text eol=lf
coot_plumage.yml text eol=lf
bin/molprobity_to_coot.py text eol=lf
coot_bin/molprobity_to_coot_server.py text eol=lf
coot_bin/coot_rotamers.py text eol=lf
coot_bin/coot_refine_zone.py text eol=lf
wrappers_unix/molprobity_to_coot_rotamer_outlier.sh text eol=lf
wrappers_unix/molprobity_to_coot_ramachandran_outlier.sh text eol=lf
wrappers_windows/molprobity_to_coot_rotamer_outlier.bat text eol=crlf
wrappers_windows/molprobity_to_coot_ramachandran_outlier.bat text eol=crlf