README.md text eol=crlf
plumage.py text eol=crlf
coot_plumage.yml text eol=crlf
bin/molprobity_to_coot.py text eol=crlf
coot_bin/molprobity_to_coot_server.py text eol=crlf
coot_bin/coot_rotamers.py text eol=crlf
coot_bin/coot_refine_zone.py text eol=crlf
wrappers_unix/molprobity_to_coot_rotamer_outlier.sh text eol=crlf
wrappers_unix/molprobity_to_coot_ramachandran_outlier.sh text eol=crlf